// ///////////////////////////////////////////////////////////////////////
//  border radius
//

.br2 { border-radius: 2px !important; }
.br3 { border-radius: 3px !important; }
.br4 { border-radius: 4px !important; }
.br5 { border-radius: 5px !important; }
.br6 { border-radius: 6px !important; }
.br7 { border-radius: 7px !important; }
.br8 { border-radius: 8px !important; }
.br9 { border-radius: 9px !important; }
.br10 { border-radius: 10px !important; }
.br15 { border-radius: 15px !important; }
.br20 { border-radius: 20px !important; }
.br25 { border-radius: 25px !important; }
.br30 { border-radius: 30px !important; }
.br35 { border-radius: 35px !important; }
.br40 { border-radius: 40px !important; }
.br45 { border-radius: 45px !important; }
.br50 { border-radius: 50px !important; }


// ///////////////////////////////////////////////////////////////////////
//  padding
//

.pl2px { padding-left: 2px !important; }
.pl3px { padding-left: 3px !important; }
.pl4px { padding-left: 4px !important; }
.pl5px { padding-left: 5px !important; }
.pl6px { padding-left: 6px !important; }
.pl7px { padding-left: 7px !important; }
.pl8px { padding-left: 8px !important; }
.pl9px { padding-left: 9px !important; }
.pl10px { padding-left: 10px !important; }
.pl15px { padding-left: 15px !important; }
.pl20px { padding-left: 20px !important; }
.pl25px { padding-left: 25px !important; }
.pl30px { padding-left: 30px !important; }
.pl35px { padding-left: 35px !important; }
.pl40px { padding-left: 40px !important; }
.pl45px { padding-left: 45px !important; }
.pl50px { padding-left: 50px !important; }

.pr2px { padding-right: 2px !important; }
.pr3px { padding-right: 3px !important; }
.pr4px { padding-right: 4px !important; }
.pr5px { padding-right: 5px !important; }
.pr6px { padding-right: 6px !important; }
.pr7px { padding-right: 7px !important; }
.pr8px { padding-right: 8px !important; }
.pr9px { padding-right: 9px !important; }
.pr10px { padding-right: 10px !important; }
.pr15px { padding-right: 15px !important; }
.pr20px { padding-right: 20px !important; }
.pr25px { padding-right: 25px !important; }
.pr30px { padding-right: 30px !important; }
.pr35px { padding-right: 35px !important; }
.pr40px { padding-right: 40px !important; }
.pr45px { padding-right: 45px !important; }
.pr50px { padding-right: 50px !important; }

.pt2px { padding-top: 2px !important; }
.pt3px { padding-top: 3px !important; }
.pt4px { padding-top: 4px !important; }
.pt5px { padding-top: 5px !important; }
.pt6px { padding-top: 6px !important; }
.pt7px { padding-top: 7px !important; }
.pt8px { padding-top: 8px !important; }
.pt9px { padding-top: 9px !important; }
.pt10px { padding-top: 10px !important; }
.pt15px { padding-top: 15px !important; }
.pt20px { padding-top: 20px !important; }
.pt25px { padding-top: 25px !important; }
.pt30px { padding-top: 30px !important; }
.pt35px { padding-top: 35px !important; }
.pt40px { padding-top: 40px !important; }
.pt45px { padding-top: 45px !important; }
.pt50px { padding-top: 50px !important; }

.pb2px { padding-bottom: 2px !important; }
.pb3px { padding-bottom: 3px !important; }
.pb4px { padding-bottom: 4px !important; }
.pb5px { padding-bottom: 5px !important; }
.pb6px { padding-bottom: 6px !important; }
.pb7px { padding-bottom: 7px !important; }
.pb8px { padding-bottom: 8px !important; }
.pb9px { padding-bottom: 9px !important; }
.pb10px { padding-bottom: 10px !important; }
.pb15px { padding-bottom: 15px !important; }
.pb20px { padding-bottom: 20px !important; }
.pb25px { padding-bottom: 25px !important; }
.pb30px { padding-bottom: 30px !important; }
.pb35px { padding-bottom: 35px !important; }
.pb40px { padding-bottom: 40px !important; }
.pb45px { padding-bottom: 45px !important; }
.pb50px { padding-bottom: 50px !important; }

.pa2px { padding: 2px !important; }
.pa3px { padding: 3px !important; }
.pa4px { padding: 4px !important; }
.pa5px { padding: 5px !important; }
.pa6px { padding: 6px !important; }
.pa7px { padding: 7px !important; }
.pa8px { padding: 8px !important; }
.pa9px { padding: 9px !important; }
.pa10px { padding: 10px !important; }
.pa15px { padding: 15px !important; }
.pa20px { padding: 20px !important; }
.pa25px { padding: 25px !important; }
.pa30px { padding: 30px !important; }
.pa35px { padding: 35px !important; }
.pa40px { padding: 40px !important; }
.pa45px { padding: 45px !important; }
.pa50px { padding: 50px !important; }


// ///////////////////////////////////////////////////////////////////////
//  margin - pixels
//

.ml2px { margin-left: 2px !important; }
.ml3px { margin-left: 3px !important; }
.ml4px { margin-left: 4px !important; }
.ml5px { margin-left: 5px !important; }
.ml6px { margin-left: 6px !important; }
.ml7px { margin-left: 7px !important; }
.ml8px { margin-left: 8px !important; }
.ml9px { margin-left: 9px !important; }
.ml10px { margin-left: 10px !important; }
.ml15px { margin-left: 15px !important; }
.ml20px { margin-left: 20px !important; }
.ml25px { margin-left: 25px !important; }
.ml30px { margin-left: 30px !important; }
.ml35px { margin-left: 35px !important; }
.ml40px { margin-left: 40px !important; }
.ml45px { margin-left: 45px !important; }
.ml50px { margin-left: 50px !important; }

.mr2px { margin-right: 2px !important; }
.mr3px { margin-right: 3px !important; }
.mr4px { margin-right: 4px !important; }
.mr5px { margin-right: 5px !important; }
.mr6px { margin-right: 6px !important; }
.mr7px { margin-right: 7px !important; }
.mr8px { margin-right: 8px !important; }
.mr9px { margin-right: 9px !important; }
.mr10px { margin-right: 10px !important; }
.mr15px { margin-right: 15px !important; }
.mr20px { margin-right: 20px !important; }
.mr25px { margin-right: 25px !important; }
.mr30px { margin-right: 30px !important; }
.mr35px { margin-right: 35px !important; }
.mr40px { margin-right: 40px !important; }
.mr45px { margin-right: 45px !important; }
.mr50px { margin-right: 50px !important; }

.mt2px { margin-top: 2px !important; }
.mt3px { margin-top: 3px !important; }
.mt4px { margin-top: 4px !important; }
.mt5px { margin-top: 5px !important; }
.mt6px { margin-top: 6px !important; }
.mt7px { margin-top: 7px !important; }
.mt8px { margin-top: 8px !important; }
.mt9px { margin-top: 9px !important; }
.mt10px { margin-top: 10px !important; }
.mt15px { margin-top: 15px !important; }
.mt20px { margin-top: 20px !important; }
.mt25px { margin-top: 25px !important; }
.mt30px { margin-top: 30px !important; }
.mt35px { margin-top: 35px !important; }
.mt40px { margin-top: 40px !important; }
.mt45px { margin-top: 45px !important; }
.mt50px { margin-top: 50px !important; }

.mb2px { margin-bottom: 2px !important; }
.mb3px { margin-bottom: 3px !important; }
.mb4px { margin-bottom: 4px !important; }
.mb5px { margin-bottom: 5px !important; }
.mb6px { margin-bottom: 6px !important; }
.mb7px { margin-bottom: 7px !important; }
.mb8px { margin-bottom: 8px !important; }
.mb9px { margin-bottom: 9px !important; }
.mb10px { margin-bottom: 10px !important; }
.mb15px { margin-bottom: 15px !important; }
.mb20px { margin-bottom: 20px !important; }
.mb25px { margin-bottom: 25px !important; }
.mb30px { margin-bottom: 30px !important; }
.mb35px { margin-bottom: 35px !important; }
.mb40px { margin-bottom: 40px !important; }
.mb45px { margin-bottom: 45px !important; }
.mb50px { margin-bottom: 50px !important; }

.ma2px { margin: 2px !important; }
.ma3px { margin: 3px !important; }
.ma4px { margin: 4px !important; }
.ma5px { margin: 5px !important; }
.ma6px { margin: 6px !important; }
.ma7px { margin: 7px !important; }
.ma8px { margin: 8px !important; }
.ma9px { margin: 9px !important; }
.ma10px { margin: 10px !important; }
.ma15px { margin: 15px !important; }
.ma20px { margin: 20px !important; }
.ma25px { margin: 25px !important; }
.ma30px { margin: 30px !important; }
.ma35px { margin: 35px !important; }
.ma40px { margin: 40px !important; }
.ma45px { margin: 45px !important; }
.ma50px { margin: 50px !important; }


// ///////////////////////////////////////////////////////////////////////
//  padding - rems
//

.pl01r { padding-left: 0.1rem !important; }
.pl02r { padding-left: 0.2rem !important; }
.pl03r { padding-left: 0.3rem !important; }
.pl04r { padding-left: 0.4rem !important; }
.pl05r { padding-left: 0.5rem !important; }
.pl06r { padding-left: 0.6rem !important; }
.pl07r { padding-left: 0.7rem !important; }
.pl08r { padding-left: 0.8rem !important; }
.pl09r { padding-left: 0.9rem !important; }
.pl10r { padding-left: 1.0rem !important; }
.pl11r { padding-left: 1.1rem !important; }
.pl12r { padding-left: 1.2rem !important; }
.pl13r { padding-left: 1.3rem !important; }
.pl14r { padding-left: 1.4rem !important; }
.pl15r { padding-left: 1.5rem !important; }
.pl16r { padding-left: 1.6rem !important; }
.pl17r { padding-left: 1.7rem !important; }
.pl18r { padding-left: 1.8rem !important; }
.pl19r { padding-left: 1.9rem !important; }
.pl20r { padding-left: 2.0rem !important; }
.pl25r { padding-left: 2.5rem !important; }
.pl30r { padding-left: 3.0rem !important; }
.pl35r { padding-left: 3.5rem !important; }
.pl40r { padding-left: 4.0rem !important; }
.pl45r { padding-left: 4.5rem !important; }
.pl50r { padding-left: 5.0rem !important; }

.pr01r { padding-right: 0.1rem !important; }
.pr02r { padding-right: 0.2rem !important; }
.pr03r { padding-right: 0.3rem !important; }
.pr04r { padding-right: 0.4rem !important; }
.pr05r { padding-right: 0.5rem !important; }
.pr06r { padding-right: 0.6rem !important; }
.pr07r { padding-right: 0.7rem !important; }
.pr08r { padding-right: 0.8rem !important; }
.pr09r { padding-right: 0.9rem !important; }
.pr10r { padding-right: 1.0rem !important; }
.pr11r { padding-right: 1.1rem !important; }
.pr12r { padding-right: 1.2rem !important; }
.pr13r { padding-right: 1.3rem !important; }
.pr14r { padding-right: 1.4rem !important; }
.pr15r { padding-right: 1.5rem !important; }
.pr16r { padding-right: 1.6rem !important; }
.pr17r { padding-right: 1.7rem !important; }
.pr18r { padding-right: 1.8rem !important; }
.pr19r { padding-right: 1.9rem !important; }
.pr20r { padding-right: 2.0rem !important; }
.pr25r { padding-right: 2.5rem !important; }
.pr30r { padding-right: 3.0rem !important; }
.pr35r { padding-right: 3.5rem !important; }
.pr40r { padding-right: 4.0rem !important; }
.pr45r { padding-right: 4.5rem !important; }
.pr50r { padding-right: 5.0rem !important; }

.pt01r { padding-top: 0.1rem !important; }
.pt02r { padding-top: 0.2rem !important; }
.pt03r { padding-top: 0.3rem !important; }
.pt04r { padding-top: 0.4rem !important; }
.pt05r { padding-top: 0.5rem !important; }
.pt06r { padding-top: 0.6rem !important; }
.pt07r { padding-top: 0.7rem !important; }
.pt08r { padding-top: 0.8rem !important; }
.pt09r { padding-top: 0.9rem !important; }
.pt10r { padding-top: 1.0rem !important; }
.pt11r { padding-top: 1.1rem !important; }
.pt12r { padding-top: 1.2rem !important; }
.pt13r { padding-top: 1.3rem !important; }
.pt14r { padding-top: 1.4rem !important; }
.pt15r { padding-top: 1.5rem !important; }
.pt16r { padding-top: 1.6rem !important; }
.pt17r { padding-top: 1.7rem !important; }
.pt18r { padding-top: 1.8rem !important; }
.pt19r { padding-top: 1.9rem !important; }
.pt20r { padding-top: 2.0rem !important; }
.pt25r { padding-top: 2.5rem !important; }
.pt30r { padding-top: 3.0rem !important; }
.pt35r { padding-top: 3.5rem !important; }
.pt40r { padding-top: 4.0rem !important; }
.pt45r { padding-top: 4.5rem !important; }
.pt50r { padding-top: 5.0rem !important; }

.pb01r { padding-bottom: 0.1rem !important; }
.pb02r { padding-bottom: 0.2rem !important; }
.pb03r { padding-bottom: 0.3rem !important; }
.pb04r { padding-bottom: 0.4rem !important; }
.pb05r { padding-bottom: 0.5rem !important; }
.pb06r { padding-bottom: 0.6rem !important; }
.pb07r { padding-bottom: 0.7rem !important; }
.pb08r { padding-bottom: 0.8rem !important; }
.pb09r { padding-bottom: 0.9rem !important; }
.pb10r { padding-bottom: 1.0rem !important; }
.pb11r { padding-bottom: 1.1rem !important; }
.pb12r { padding-bottom: 1.2rem !important; }
.pb13r { padding-bottom: 1.3rem !important; }
.pb14r { padding-bottom: 1.4rem !important; }
.pb15r { padding-bottom: 1.5rem !important; }
.pb16r { padding-bottom: 1.6rem !important; }
.pb17r { padding-bottom: 1.7rem !important; }
.pb18r { padding-bottom: 1.8rem !important; }
.pb19r { padding-bottom: 1.9rem !important; }
.pb20r { padding-bottom: 2.0rem !important; }
.pb25r { padding-bottom: 2.5rem !important; }
.pb30r { padding-bottom: 3.0rem !important; }
.pb35r { padding-bottom: 3.5rem !important; }
.pb40r { padding-bottom: 4.0rem !important; }
.pb45r { padding-bottom: 4.5rem !important; }
.pb50r { padding-bottom: 5.0rem !important; }

.pa01r { padding: 0.1rem !important; }
.pa02r { padding: 0.2rem !important; }
.pa03r { padding: 0.3rem !important; }
.pa04r { padding: 0.4rem !important; }
.pa05r { padding: 0.5rem !important; }
.pa06r { padding: 0.6rem !important; }
.pa07r { padding: 0.7rem !important; }
.pa08r { padding: 0.8rem !important; }
.pa09r { padding: 0.9rem !important; }
.pa10r { padding: 1.0rem !important; }
.pa11r { padding: 1.1rem !important; }
.pa12r { padding: 1.2rem !important; }
.pa13r { padding: 1.3rem !important; }
.pa14r { padding: 1.4rem !important; }
.pa15r { padding: 1.5rem !important; }
.pa16r { padding: 1.6rem !important; }
.pa17r { padding: 1.7rem !important; }
.pa18r { padding: 1.8rem !important; }
.pa19r { padding: 1.9rem !important; }
.pa20r { padding: 2.0rem !important; }
.pa25r { padding: 2.5rem !important; }
.pa30r { padding: 3.0rem !important; }
.pa35r { padding: 3.5rem !important; }
.pa40r { padding: 4.0rem !important; }
.pa45r { padding: 4.5rem !important; }
.pa50r { padding: 5.0rem !important; }


// ///////////////////////////////////////////////////////////////////////
//  margin - rems
//

.ml01r { margin-left: 0.1rem !important; }
.ml02r { margin-left: 0.2rem !important; }
.ml03r { margin-left: 0.3rem !important; }
.ml04r { margin-left: 0.4rem !important; }
.ml05r { margin-left: 0.5rem !important; }
.ml06r { margin-left: 0.6rem !important; }
.ml07r { margin-left: 0.7rem !important; }
.ml08r { margin-left: 0.8rem !important; }
.ml09r { margin-left: 0.9rem !important; }
.ml10r { margin-left: 1.0rem !important; }
.ml11r { margin-left: 1.1rem !important; }
.ml12r { margin-left: 1.2rem !important; }
.ml13r { margin-left: 1.3rem !important; }
.ml14r { margin-left: 1.4rem !important; }
.ml15r { margin-left: 1.5rem !important; }
.ml16r { margin-left: 1.6rem !important; }
.ml17r { margin-left: 1.7rem !important; }
.ml18r { margin-left: 1.8rem !important; }
.ml19r { margin-left: 1.9rem !important; }
.ml20r { margin-left: 2.0rem !important; }
.ml25r { margin-left: 2.5rem !important; }
.ml30r { margin-left: 3.0rem !important; }
.ml35r { margin-left: 3.5rem !important; }
.ml40r { margin-left: 4.0rem !important; }
.ml45r { margin-left: 4.5rem !important; }
.ml50r { margin-left: 5.0rem !important; }

.mr01r { margin-right: 0.1rem !important; }
.mr02r { margin-right: 0.2rem !important; }
.mr03r { margin-right: 0.3rem !important; }
.mr04r { margin-right: 0.4rem !important; }
.mr05r { margin-right: 0.5rem !important; }
.mr06r { margin-right: 0.6rem !important; }
.mr07r { margin-right: 0.7rem !important; }
.mr08r { margin-right: 0.8rem !important; }
.mr09r { margin-right: 0.9rem !important; }
.mr10r { margin-right: 1.0rem !important; }
.mr11r { margin-right: 1.1rem !important; }
.mr12r { margin-right: 1.2rem !important; }
.mr13r { margin-right: 1.3rem !important; }
.mr14r { margin-right: 1.4rem !important; }
.mr15r { margin-right: 1.5rem !important; }
.mr16r { margin-right: 1.6rem !important; }
.mr17r { margin-right: 1.7rem !important; }
.mr18r { margin-right: 1.8rem !important; }
.mr19r { margin-right: 1.9rem !important; }
.mr20r { margin-right: 2.0rem !important; }
.mr25r { margin-right: 2.5rem !important; }
.mr30r { margin-right: 3.0rem !important; }
.mr35r { margin-right: 3.5rem !important; }
.mr40r { margin-right: 4.0rem !important; }
.mr45r { margin-right: 4.5rem !important; }
.mr50r { margin-right: 5.0rem !important; }

.mt01r { margin-top: 0.1rem !important; }
.mt02r { margin-top: 0.2rem !important; }
.mt03r { margin-top: 0.3rem !important; }
.mt04r { margin-top: 0.4rem !important; }
.mt05r { margin-top: 0.5rem !important; }
.mt06r { margin-top: 0.6rem !important; }
.mt07r { margin-top: 0.7rem !important; }
.mt08r { margin-top: 0.8rem !important; }
.mt09r { margin-top: 0.9rem !important; }
.mt10r { margin-top: 1.0rem !important; }
.mt11r { margin-top: 1.1rem !important; }
.mt12r { margin-top: 1.2rem !important; }
.mt13r { margin-top: 1.3rem !important; }
.mt14r { margin-top: 1.4rem !important; }
.mt15r { margin-top: 1.5rem !important; }
.mt16r { margin-top: 1.6rem !important; }
.mt17r { margin-top: 1.7rem !important; }
.mt18r { margin-top: 1.8rem !important; }
.mt19r { margin-top: 1.9rem !important; }
.mt20r { margin-top: 2.0rem !important; }
.mt25r { margin-top: 2.5rem !important; }
.mt30r { margin-top: 3.0rem !important; }
.mt35r { margin-top: 3.5rem !important; }
.mt40r { margin-top: 4.0rem !important; }
.mt45r { margin-top: 4.5rem !important; }
.mt50r { margin-top: 5.0rem !important; }

.mb01r { margin-bottom: 0.1rem !important; }
.mb02r { margin-bottom: 0.2rem !important; }
.mb03r { margin-bottom: 0.3rem !important; }
.mb04r { margin-bottom: 0.4rem !important; }
.mb05r { margin-bottom: 0.5rem !important; }
.mb06r { margin-bottom: 0.6rem !important; }
.mb07r { margin-bottom: 0.7rem !important; }
.mb08r { margin-bottom: 0.8rem !important; }
.mb09r { margin-bottom: 0.9rem !important; }
.mb10r { margin-bottom: 1.0rem !important; }
.mb11r { margin-bottom: 1.1rem !important; }
.mb12r { margin-bottom: 1.2rem !important; }
.mb13r { margin-bottom: 1.3rem !important; }
.mb14r { margin-bottom: 1.4rem !important; }
.mb15r { margin-bottom: 1.5rem !important; }
.mb16r { margin-bottom: 1.6rem !important; }
.mb17r { margin-bottom: 1.7rem !important; }
.mb18r { margin-bottom: 1.8rem !important; }
.mb19r { margin-bottom: 1.9rem !important; }
.mb20r { margin-bottom: 2.0rem !important; }
.mb25r { margin-bottom: 2.5rem !important; }
.mb30r { margin-bottom: 3.0rem !important; }
.mb35r { margin-bottom: 3.5rem !important; }
.mb40r { margin-bottom: 4.0rem !important; }
.mb45r { margin-bottom: 4.5rem !important; }
.mb50r { margin-bottom: 5.0rem !important; }

.ma01r { margin: 0.1rem !important; }
.ma02r { margin: 0.2rem !important; }
.ma03r { margin: 0.3rem !important; }
.ma04r { margin: 0.4rem !important; }
.ma05r { margin: 0.5rem !important; }
.ma06r { margin: 0.6rem !important; }
.ma07r { margin: 0.7rem !important; }
.ma08r { margin: 0.8rem !important; }
.ma09r { margin: 0.9rem !important; }
.ma10r { margin: 1.0rem !important; }
.ma11r { margin: 1.1rem !important; }
.ma12r { margin: 1.2rem !important; }
.ma13r { margin: 1.3rem !important; }
.ma14r { margin: 1.4rem !important; }
.ma15r { margin: 1.5rem !important; }
.ma16r { margin: 1.6rem !important; }
.ma17r { margin: 1.7rem !important; }
.ma18r { margin: 1.8rem !important; }
.ma19r { margin: 1.9rem !important; }
.ma20r { margin: 2.0rem !important; }
.ma25r { margin: 2.5rem !important; }
.ma30r { margin: 3.0rem !important; }
.ma35r { margin: 3.5rem !important; }
.ma40r { margin: 4.0rem !important; }
.ma45r { margin: 4.5rem !important; }
.ma50r { margin: 5.0rem !important; }
