<!-- this is an included partial, so no "main" block defintion -->
<nav class="sans-serif bg-light-gray">
    <a class="pt3 pt4-ns link dark-gray b f-headline tc db " href="{{ .Site.BaseURL }}"
        title="{{.Site.Title}}">{{.Site.Title}}</a>
    {{- if isset .Site.Params "description" }}
    <h2 class="tc f3">{{ .Site.Params.description }}</h2>
    {{- end }}
    <div class="tc mt3 mb3 bg-gray">
        <a class="link black f6 f3-ns dib pa3 hover-bg-orange" href="{{ .Site.BaseURL }}" title="Home">Home</a>
        <a class="link black f6 f3-ns dib pa3 hover-bg-orange" href="/tags" title="Tags">Tags</a>
        {{- range .Site.Sections }}
        <a class="link black f6 f3-ns dib pa3 hover-bg-orange" href="{{ .RelPermalink }}" title="{{.Name}}">{{
            .Name
            }}</a>
        {{- end }}
    </div>
</nav>
